:root {
        --primary-color: rgb(6,33,88);
       --background: rgb(255,255,255);
       --secondary-color: rgb(124, 234, 174);
       --tertiary-color: rgb(96,136,212);
       --warning: #aa5555;
}

@font-face {
    font-family: grifterbold;
    src: url(assets/grifterbold.otf);
}

@font-face {
    font-family: PT Sans;
    src: url(assets/PTSans.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(6,33,88);
}

h1 {
    font-family: 'grifterbold';
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

p {
    font-family: 'PT Sans';
}

.header {
    background: #ffffff;
    padding: 0.5rem;
    padding-left: 2rem;
    display: flex;
    gap: 5%;
    opacity: 100%;
    transition: 0.2 ease;
}

.header img {
    height: 60px;
}

.header .links {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s; 
}

.header .links a, .footer a {
    font-family: 'grifterbold', sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(96,136,212);
    transition: 0.1s ease;
}

.header .links a:hover {
 color: var(--primary-color);
}

.burger {
  display: none;
  transition: 1s ease;
}

.burger.open .line:nth-child(1){
  transform: translateY(10px) rotate(45deg);
}

.burger.open .line:nth-child(2){
  background: transparent;
}

.burger.open .line:nth-child(3){
  transform: translateY(-10px) rotate(-45deg);
}

.line { 
  height: 4px; 
  width: 40px; 
  background: var(--tertiary-color); border-radius: 2px;
  display: block; 
  transition: 0.5s; 
  transform-origin: center; 
  margin-bottom: 6px;
}

.line:nth-child(1) { top: 10px; }
.line:nth-child(2) { top: 20px; }
.line:nth-child(3) { top: 30px; margin-bottom: 0; }

.roll {
  background: transparent;
}

.boden {
  display: none;
}

.title_text .alone {
    margin-top: 4rem;
    display: inline-block;
    font-size: 3rem;
    font-family: 'grifterbold';
    color: #fff;
} 

.title_text {
    background: linear-gradient(0deg, rgba(6, 33, 88, 0.7), rgba(6, 33, 88, 1)), url(assets/halle_bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 1rem;
    text-align: center;
    height: 400px;
    max-width: 100%;
}

@media only screen and (max-width: 600px){
    .title_text .alone {
        font-size: 2rem;
    }
}

.title_text .options {
    margin-top: 2rem;
}

.title_text .options .option {
    text-align: center;
    display: inline-block; 
    opacity: 0;
    animation: changeword 10s ease infinite;
    -webkit-animation: changeword 10s ease infinite;
    -moz-animation: changeword 10s ease infinite;
    -o-animation: changeword 10s ease infinite;
    font-family: 'grifterbold';
    font-size: 2rem;
    color: white;
    overflow: hidden;
}

@media only screen and (max-width: 600px){
    .header {
      position: sticky;
      top: 0;
      z-index: 2;
      flex-wrap: wrap;
      align-items: center;
    }
  
    .burger {
      display: block;
    }

    .title_text .options .option {
        font-size: 2.5rem;
        position: absolute;
        width: 90%;
        left: 5%;
    }
}

.title_text .options .option:nth-child(1) {
  animation-delay: 0s;
}
.title_text .options .option:nth-child(2) {
  animation-delay: 2s;
}
.title_text .options .option:nth-child(3) {
  animation-delay: 4s;
}
.title_text .options .option:nth-child(4) {
  animation-delay: 6s;
}
.title_text .options .option:nth-child(5) {
    animation-delay: 8s;
}
.title_text .options .option:nth-child(6) {
    animation-delay: 10s;
}

@keyframes changeword {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  
  5% {
    opacity: 1;
    transform: translateY(0);
  }
  
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  
  30% {
    opacity: 0;
    transform: translateY(50px);
  }
  
  80% {
    opacity: 0;
    transform: translateY(50px);
  }
}
@-webkit-keyframes changeword {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    
    5% {
      opacity: 1;
      transform: translateY(0);
    }
    
    20% {
      opacity: 1;
      transform: translateY(0);
    }
    
    30% {
      opacity: 0;
      transform: translateY(50px);
    }
    
    80% {
      opacity: 0;
      transform: translateY(50px);
    }
}
@-moz-keyframes changeword {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    
    5% {
      opacity: 1;
      transform: translateY(0);
    }
    
    20% {
      opacity: 1;
      transform: translateY(0);
    }
    
    30% {
      opacity: 0;
      transform: translateY(50px);
    }
    
    80% {
      opacity: 0;
      transform: translateY(50px);
    }
}
@-o-keyframes changeword {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    
    5% {
      opacity: 1;
      transform: translateY(0);
    }
    
    20% {
      opacity: 1;
      transform: translateY(0);
    }
    
    30% {
      opacity: 0;
      transform: translateY(50px);
    }
    
    80% {
      opacity: 0;
      transform: translateY(50px);
    }
}



.content_card {
    background: white;
    padding: 2rem;
    font-family: 'PT Sans';
}

.content_card p {
    max-width: 70%;
}

.content_services {
    background: linear-gradient(0deg, rgba(6, 33, 88, 0.7), rgba(6, 33, 88, 1)), url(assets/services.jpg);
    background-size: cover;
    background-position: center;
    padding: 2rem;
    display: none;
}

.content_services h1, .content_services p {
    color: white;
}

.content_services_services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.content_services .service {
    background: rgba(255,255,255,0.2);
    padding: 10px;
    border-radius: 5px;
}

.content_services .service h2 {
    font-family: 'grifterbold';
    font-size: 1.1rem;
    color: white;
}

.footer {
    background: var(--tertiary-color);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: white;

}

@media only screen and (max-width: 600px) {
    .content_services{
      display: inherit;
    }

    .services {
      display: none;
    }

    .header {
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
    }

    .header.open img {
      opacity: 0;
    }

    .header img {
        height: 40px;
    }

    .header .links {
        height: 0;
        width: 100%;
        overflow: hidden;
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .header .links a {
      color: transparent;
    }

    .header .links.open {
      height: 50vh;
      width: 100%;
    }

    .header .links.open a {
      color: var(--tertiary-color);
    }

    .roll {
      display: block;
      position: absolute;
      top: 10px;
      right: 20px;
      width: 40px;
      height: 40px;
      z-index: -1;
      background: transparent;
      border-radius: 50%;
      transition: 0.2 ease;
    }

    .roll.open {
      background: var(--primary-color);
      animation: move 4s ease;
      animation-fill-mode: forwards;
    }

    .boden {
      border-bottom: solid 2px var(--primary-color);
      display: block;
      position: absolute;
      right: 20px;
      top: 48px;
      transition: 0.2 ease;
    }

    .boden.open {
      animation: grow 4s ease;
      animation-fill-mode: forwards;
    }

    @keyframes move {
      0%   { right: 10px; }
      100% { right: 100%; }
    }

    @keyframes grow {
      0%   { width: 10px; }
      100% { width: 100vw; }
    }

    .content_card p {
        max-width: 100%;
    }

    .content_services h2 {
        font-family: 'grifterbold';
        font-size: 0.9rem;
    }
}



/*ABOUT PAGE*/

.about img {
  width: 40vw;
}

.about .content_card {
  display: flex;
  gap: 50px;
}

.about .image h3 {
  font-family: 'grifterbold';
  color: var(--primary-color);
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .about img {
    width: 80vw;
  }


  .about .content_card {
    flex-direction: column;
  }
}